@use "./partials/color" as *;
@use "./partials/header";
@use "./partials/footer";
@import "~bootstrap/scss/bootstrap";

#app_main {
    position: relative;
    z-index: 10;
    background-color: $dc_dark;

    #slider {
        background-color: $dc_dark;

        .current_series {
            height: 50vh;
            padding: 0 calc(35% / 2);
            background-image: url(../img/jumbotron.jpg);
            background-size: cover;
            position: relative;

            button {
                border: none;
                color: white;
                background-color: $dc_primary;
                font-family: "Roboto Condensed", sans-serif;
                padding: 5px 15px;
                position: absolute;
                bottom: -17px;
            }
        }

        .films {
            padding: 0 calc(35% / 2);
            background-color: $dc_dark;

            .container {
                .product {
                    width: calc(90% / 6);
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                    }

                    p {
                        color: white;
                        font-size: x-small;
                        text-transform: uppercase;
                    }

                    img {
                        width: 100%;
                        aspect-ratio: 1;
                        object-fit: cover;
                        margin-bottom: 10px;
                    }
                }
            }

            button {
                border: none;
                color: white;
                background-color: $dc_primary;
                font-family: "Roboto Condensed", sans-serif;
                font-size: x-small;
                padding: 5px 40px;
                text-align: center;
                margin: 1rem auto;
            }
        }
    }

    #main_card {
        background-color: $dc_primary;
        padding: 0 calc(35% / 2);

        img {
            width: 40px;
        }
        span {
            font-family: "Roboto Condensed", sans-serif;
            color: white;
            align-self: center;
            font-size: small;
        }
    }
}

img {
    cursor: pointer;
}

.edit_button {
    border: none;
    color: white;
    background-color: $dc_primary;
    font-family: "Roboto Condensed", sans-serif;
    font-size: x-small;
    padding: 5px 40px;
    text-align: center;
    margin: 1rem auto;
}

.delete_button {
    border: none;
    color: white;
    background-color: red;
    font-family: "Roboto Condensed", sans-serif;
    font-size: x-small;
    padding: 5px 35px;
    text-align: center;
    margin: 1rem auto;
}
